<template>
    <div class="homeInfo">
    <p>
        This Site is an organization determined to make Private and Online learning easier. Today, there are millions of people without access to basic Computer knowledge and the modern world sees Information Communication Technology (ICT) as a necessity for growth in different aspects of life. At HelpMeLearn, we want to revolutionize online learning. With us, you can learn from the comfort of your home, office, etc.
    </p>
    </div>
</template>

<script>

</script>

<style>
    p{
        line-height: 40px;
    }
    
    h1{
        color: #4C8CF5;
    }
    
    .homeInfo{
        width: 40%;
        margin: 0px auto;
        text-align: left;
    }
    
    /*Tab Panel*/
    .tab{
        margin: 0px auto;
        border-radius: 15px;
        width: 40%;
        overflow: hidden;
        border: 1px solic #ccc;
        background-color: #f1f1f1;
    }

    .tab button{
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
    }

    .tab button:hover{
        background-color: #ddd;
    }
</style>