<template>
    <div>
        <h4>Register Student</h4>
        <table border= "0" align="center" class="">
            <form>
                <tr>
                    <td><input type="text" v-model="fname" placeholder="First Name" size="30"></td>
                </tr>
                <tr>
                    <td><input type="text" v-model="lname" placeholder="Last Name" size="30"></td>
                </tr>
                <tr>
                    <td align="left">
                        <select v-model="sex" placeholder="Sex">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input v-model="email" type="email" placeholder="Email" size="30"></td>
                </tr>
                <tr>
                    <td align="left">
                        <input v-model="age" type="number" max="50" min= "1" placeholder="Age">
                    </td>
                </tr>
                <button style="width:100%"class="btn" v-if="!loading" @click='doRegister'>Submit</button>
                <button v-else>Loading</button>
            </form>
        </table>
    </div>
</template>

<script>
//    import friend from '../src/api/user'
    import {mapGetters, mapActions} from 'vuex';
    export default{
        name:'register',
        data(){
            return{
                fname:"",
                lname:"",
                sex:"",
                email:"",
                age:""
            }
        },
//        mounted(){
//          console.log(friend);  
//        },
        methods: {
            ...mapActions('auth', [
            'register'
            ]),
            
            doRegister () {
                let args = {
                    firstname: this.fname,
                    lastname: this.lname,
                    sex: this.sex,
                    email: this.email,
                    age: this.age
                }
        
               this.register(args);
            }
        },
        computed: {
            ...mapGetters('auth',[
            'loading',
            'isAuthenticated',
            'error',
            'token'
            ])
        }
    }
</script>
    
<style>
/*
    button{
        border:none;
        padding: 5px 10px;
        color: white;
        background-color: #4C8CF5;
        border-radius: 5px;
    }
*/
    .btn{
/*        background-color: #DD5145;*/
        border:none;
        padding: 5px 10px;
        color: white;
        background-color: #4C8CF5;
        border-radius: 5px;
        font-weight: bold;
        padding: 10px 80px;
    }
    input[type="text"], input[type="email"], input[type="number"], select{
        padding: 6px;
        border: 1px #4C8CF5 solid;
        border-radius: 5px;
    }
    h1{
        color: #4C8CF5;
    }
    

</style>