<template>
    <div style="width:60%; margin-left:auto; margin-right:auto">
        <br>
        <table class="table table-stripped">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>Email</th>
            <th>Age</th>
            <th>Date Created</th>
            <th>Date Updated</th>
            <th>Delete</th>
        </tr>
        <tr align="left" v-for="student in students">
            <td>{{student.firstname}}</td>
            <td>{{student.lastname}}</td>
            <td>{{student.sex}}</td>
            <td>{{student.email}}</td>
            <td>{{student.age}}</td>
            <td>{{student.created_at}}</td>
            <td>{{student.updated_at}}</td>
            <td><button @click='deleteStudent(student)' class="btn-danger">Delete</button></td>
        </tr>
    </table>
    </div>
    
</template>

<script>
    import axios from 'axios'
    export default{
        name:'students',
        data(){
            return{
                  students: [],
            }
        },

        created(){
          axios.get('http://localhost:3333/student')
          .then(response =>{
              this.students = response.data
          })
          .catch(e => {
              console.log(e)
          })
        },
        
        methods:{
            deleteStudent:function(student){
                confirm('delete me?');
                axios.delete('http://localhost:3333/register/' + student.id)
                .then(response =>{
                    alert('Delete Successful');
                    location.reload(true);
                })
                .catch(e => {
                    console.log(e)
                })
            }
        }

    }
</script>

<style>
    .btn-danger{
        border: none;
        padding: 6px;
        border-radius: 4px;
    }
</style>