<template>
  <div id="app">
    <h1 class="text-danger" align="center">Welcome to My School Portal</h1>
    <div class="tab">
        <button onclick="location.href='http://localhost:8080/#/home'" class="tablinks">Home</button>
        <button onclick="location.href='http://localhost:8080/#/register'" class="tablinks">Register</button>
        <button onclick="location.href='http://localhost:8080/#/students'" class="tablinks">View Students</button>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>
    
<style>
    @import '../node_modules/bootstrap/dist/css/bootstrap.css';
    
    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      margin-top: 60px;
    }

    /*Tab Panel*/
    .tab{
        margin: 0px auto;
        border-radius: 15px;
        width: 40%;
        overflow: hidden;
        border: 1px solic #ccc;
        background-color: #f1f1f1;
    }

    .tab button{
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
    }

    .tab button:hover{
        background-color: #ddd;
    }    
</style>
